body {
  color: white;
  font-family:sans-serif;
}

section {
  text-align: center;
  margin-left: 5%;
  font-size: 20px;
  background-color: #CD5C5C;

}

input[type='submit'] {
  background: #f06226;
  border: 0;
  color: #fff;
  padding: 10px 15px;
}
.form{
  display:none;
}
.result{
  display:none;
}
html{
  background-image: url(https://udemy-images.udemy.com/course/750x422/584786_fcdb.jpg);
}
